@font-face {
  font-family: 'MyFont';
  src:  url('./open-sans-v17-latin-regular.woff') format('woff'),
        url('./open-sans-v17-latin-regular.woff2') format('woff2');
  font-weight: 600;
  style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
  }